name: Update n8n

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    env:
      PROJECT_ID: n8n-auto-474809
      GCP_REGION: us-west1
      TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
      TF_VAR_actual_password: ${{ secrets.ACTUAL_PASSWORD }}
      TF_VAR_license_activation_key: ${{ secrets.LICENSE_ACTIVATION_KEY }}
    steps:
      - uses: actions/checkout@v6

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3

      - name: Configure Docker
        run: gcloud auth configure-docker $GCP_REGION-docker.pkg.dev

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64
          tags: ${{ env.GCP_REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/n8n-repo/n8n:latest

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve -input=false -replace=google_cloud_run_v2_service.n8n -replace=google_cloud_run_v2_service_iam_member.n8n_public_invoker
